body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("./assets/lavender-town.jpg");
  /* added some css here to accomodate for 'offscreen' */
  background-position: right -150px bottom -100px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: rgb(146, 209, 230);
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: rgb(45, 24, 67);
}
.title{
  background-color: #777;

}
.dancer {
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  opacity: 100%;
  transition: all ease-in-out 1s;
}

.float {
  transform: translateY(100px);
  opacity: 10%;
  transition: all ease-in-out 1s;
}

.ghost {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0%   { opacity:1; }
  25%  { opacity: 0.5; }
  50%  { opacity:0; }
  75%  { opacity: 0.5; }
  100% { opacity:1; }
}

.fly {
  animation: flying 5s ease-in-out forwards infinite;
}

@keyframes flying {

  0% {transform: translateX(0) translateY(0) scaleX(-1);}
  10% {transform: translateX(50px) translateY(50px) scaleX(-1);}
  20% {transform: translateX(150px) translateY(30px) scaleX(-1);}
  30% {transform: translateX(100px) translateY(0px);}
  40% {transform: translateX(50px) translateY(-23px);}
  50% {transform: translateX(0) translateY(-75px);}
  60% {transform: translateX(-50px) translateY(-50px);}
  70% {transform: translateX(-100px) translateY(-20px);}
  80% {transform: translateX(-150px) translateY(10px)scaleX(-1);}
  90% {transform: translateX(-50px) translateY(30px)scaleX(-1);}
  100% {transform: translateX(0px) translateY(0px) scaleX(-1);}
}

/* POKEMON */
.crobat {
  border: none;
  content: url("./assets/crobat.gif");
  height: 200px;
  width: 200px;
  transition: all ease-in-out 1s;
}

.crobatHover {
  height: 400px;
  width: 400px;
  transition: all ease-in-out 1s;
}

.gastly {
  border: none;
  content: url("./assets/gastly.gif");
  height: 100px;
  width: 100px;
}

.misdreavus {
  border: none;
  content: url("./assets/misdreavus.gif");
  height: 100px;
  width: 100px;
}



/* LINE UP */
.lineUp {
  padding:5px 12px;
  float:right;
}

.double {
  transform: scale(2);
  transition: all linear 0.1ms;
}