body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer {
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  opacity: 100%;
  transition: all ease-in-out 1s;
}

.float {
  transform: translateY(100px);
  opacity: 10%;
  transition: all ease-in-out 1s;
}

.ghost {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0%   { opacity:1; }
  25%  { opacity: 0.5; }
  50%  { opacity:0; }
  75%  { opacity: 0.5; }
  100% { opacity:1; }
}

.fly {
  animation: flying 5s ease-in-out forwards infinite;
}

@keyframes flying {

  0% {transform: translateX(0) translateY(0);}
  10% {transform: translateX(50px) translateY(50px);}
  20% {transform: translateX(150px) translateY(30px);}
  30% {transform: translateX(100px) translateY(0px);}
  40% {transform: translateX(50px) translateY(-23px);}
  50% {transform: translateX(0) translateY(-75px);}
  60% {transform: translateX(-50px) translateY(-50px);}
  70% {transform: translateX(-100px) translateY(-20px);}
  80% {transform: translateX(-150px) translateY(10px);}
  90% {transform: translateX(-50px) translateY(30px);}
  100% {transform: translateX(0px) translateY(0px);}
}


/* POKEMON */
.crobat {
  border: none;
  content: url("./assets/crobat.gif");
  height: 200px;
  width: 200px;
}

.gastly {
  border: none;
  content: url("./assets/gastly.gif");
  height: 100px;
  width: 100px;
}


.plusle {
  border: none;
  content: url("./assets/plusle.gif");
  height: 100px;
  width: 100px;
}

